<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include partials/_header %>
  </head>
  <body>
    <ul>
      <% for(var i in urls) { %>
         <li><%= i + " : " %><a href ="/urls/<%=i %>"><%= urls[i] %></a>
      <form action='/urls/<%= i %>'>
            <input type='submit' value='Edit'>
      </form>
      <form method="POST" action="/urls/<%= i %>/delete">
        <input id="<%= i %>" type="submit" value="Delete">
      </form>
      </li>
      <% } %>
    </ul>
  </body>
</html>